html {
    font-family: 'SF Pro', -apple-system, system-ui, sans-serif;
}

body {
    margin: 0px;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#content {
    display: flex;
    height: calc(100% - 51px);
    
    border-top: 1px solid #eceef0;
}

.books, .annotations {
    overflow-y: scroll;
}

.books {
    flex: 1;

    border-right: 1px solid #eceef0;
}

.book {
    color: #272727;
    cursor: pointer;

    padding: 9px 0 9px 15px;
    line-height: 1.3em;

    &.selected {
        background-color: #3298db;
        color: #ffffff;
    }

    .name {
        font-weight: bold;
    }

    .author {
        display: block;
        font-size: 0.9em;
    }

    .count {
        font-size: 0.7em;
        margin-top: 6px;
        display: block;
    }
}

.annotations {
    padding: 0 35px;
    margin-top: 5px;

    flex: 2;
}

.annotation {
    margin-bottom: 5px;
    padding: 10px 0;
    border-bottom: 1px solid #eaeaea;

    mark {
        line-height: 1.3em;
    }

    &.hidden {
        display: none;
    }

    &.style-3 mark {
        background-color: #f9df5a;
    }

    &.style-2 mark {
        background-color: #a0befa;
    }

    &.style-1 mark {
        background-color: #a6df94;
    }

    &.style-4 mark {
        background-color: #fda8bd;
    }

    &.style-5 mark {
        background-color: #cbb9f9;
    }

    .info {
        font-size: 0.7em;
        margin-top: 12px;
        display: block;
        color: #77777c;

        .divider {
            margin: 0 5px;
            font-weight: bold;
        }
    }
}

#menu {
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

#search {
    border: none;
    padding: 8px 15px;
    margin-right: 10px;
    border-radius: 25px;
    outline: none;
    width: 300px;
    background-color: #eceef0;
}

@font-face {
    font-family: 'SF Pro';
    font-style: normal;
    font-weight: normal;
    src: local('SF Pro'),
      url('./assets/SF-Pro.ttf') format('ttf');
}
