<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Bookmark-Container-12202011</key>
	<dict>
		<key>4</key>
		<array>
			<dict>
				<key>annotationAssetID</key>
				<string>CED2211604373C3FCF42A347F1E97E2E</string>
				<key>annotationCreationDate</key>
				<integer>1615368892</integer>
				<key>annotationCreatorIdentifier</key>
				<string>com~apple~iBooks</string>
				<key>annotationDeleted</key>
				<integer>0</integer>
				<key>annotationIsUnderline</key>
				<integer>0</integer>
				<key>annotationLocation</key>
				<string>epubcfi(/6/28[My-Enemy-s-Enemy-12]!/4[My-Enemy-s-Enemy-12]/2/82,/1:0,/3:164)</string>
				<key>annotationModificationDate</key>
				<integer>1615369163</integer>
				<key>annotationNote</key>
				<string>Прям как</string>
				<key>annotationRepresentativeText</key>
				<string>artistic circles which were the highest within her reach, discovered that her conversational qualifications were expected to include a grounding in the novels of Mr. H.G. Wells. She borrowed them in various directions so energetically that she swallowed them all within two months.</string>
				<key>annotationSelectedText</key>
				<string>discovered that her conversational qualifications were expected to include a grounding in the novels of Mr. H.G. Wells.</string>
				<key>annotationStyle</key>
				<integer>1</integer>
				<key>annotationType</key>
				<integer>2</integer>
				<key>annotationUuid</key>
				<string>E5D4816D-C09D-4217-9229-4B150EA814DB</string>
				<key>futureProofing11</key>
				<string>637061692.505751</string>
				<key>futureProofing5</key>
				<string>Act V</string>
				<key>futureProofing6</key>
				<string>637061963.132852</string>
				<key>futureProofing7</key>
				<string>{58, 119}</string>
				<key>futureProofing9</key>
				<string>1</string>
				<key>plAbsolutePhysicalLocation</key>
				<integer>0</integer>
				<key>plLocationRangeEnd</key>
				<integer>0</integer>
				<key>plLocationRangeStart</key>
				<integer>9</integer>
				<key>plUserData</key>
				<data>
				YnBsaXN0MDDWAQIDBAUGBwgMDRwdVWNsYXNzVXN1cGVy
				W3N0YXJ0T2Zmc2V0V2VuZFBhdGhZZW5kT2Zmc2V0WXN0
				YXJ0UGF0aF5CS0VwdWJMb2NhdGlvbtIJAQoLV29yZGlu
				YWwQCVpCS0xvY2F0aW9uIkM6AACkDhUXGtMPEBESExRX
				dGFnTmFtZVljbGFzc05hbWVVaW5kZXhTZGl2VGJvZHkQ
				AtMPEBESFhRUdGV4dNIPERgZUXAQINERGxABIkOYgACk
				Hh8gIdMPEBESExTTDxAREhYU0g8RGBnRERsIFRshLTU/
				SVhdZWdyd3yDi5Wbn6SmrbK3ubu+wMXK0djdAAAAAAAA
				AQEAAAAAAAAAIgAAAAAAAAAAAAAAAAAAAOA=
				</data>
			</dict>
			<dict>
				<key>annotationAssetID</key>
				<string>CED2211604373C3FCF42A347F1E97E2E</string>
				<key>annotationCreationDate</key>
				<integer>1606856246</integer>
				<key>annotationCreatorIdentifier</key>
				<string>com~apple~iBooks</string>
				<key>annotationDeleted</key>
				<integer>0</integer>
				<key>annotationIsUnderline</key>
				<integer>0</integer>
				<key>annotationLocation</key>
				<string>epubcfi(/6/10[My-Enemy-s-Enemy-3]!/4[My-Enemy-s-Enemy-3]/2,/4/1:0,/6/2/1:29)</string>
				<key>annotationModificationDate</key>
				<integer>1606856248</integer>
				<key>annotationRepresentativeText</key>
				<string>“Four things greater than all things are,—Women and Horses and Power and War.”</string>
				<key>annotationSelectedText</key>
				<string>“Four things greater than all things are,—Women and Horses and Power and War.”
—Rudyard Kipling, The Ballad of the King’s Test</string>
				<key>annotationStyle</key>
				<integer>1</integer>
				<key>annotationType</key>
				<integer>2</integer>
				<key>annotationUuid</key>
				<string>22DB2C35-1202-48A3-BEFF-A774EE41ADC2</string>
				<key>futureProofing11</key>
				<string>628549046.238739</string>
				<key>futureProofing5</key>
				<string>Epigraph</string>
				<key>futureProofing6</key>
				<string>628549048.159193</string>
				<key>futureProofing7</key>
				<string>{0, 126}</string>
				<key>futureProofing9</key>
				<string>1</string>
				<key>plAbsolutePhysicalLocation</key>
				<integer>0</integer>
				<key>plLocationRangeEnd</key>
				<integer>0</integer>
				<key>plLocationRangeStart</key>
				<integer>4</integer>
				<key>plUserData</key>
				<data>
				YnBsaXN0MDDWAQIDBAUGBwgMDR4fVWNsYXNzVXN1cGVy
				W3N0YXJ0T2Zmc2V0V2VuZFBhdGhZZW5kT2Zmc2V0WXN0
				YXJ0UGF0aF5CS0VwdWJMb2NhdGlvbtIJAQoLV29yZGlu
				YWwQBFpCS0xvY2F0aW9uIgAAAACkDhUZHNMPEBESExRX
				dGFnTmFtZVljbGFzc05hbWVVaW5kZXhTZGl2XxAbX2lk
				R2VuT2JqZWN0U3R5bGVPdmVycmlkZS0xEALTDxARFhcY
				UXBfEBhNYWluLUJvZHkgUGFyYU92ZXJyaWRlLTUQBtMP
				EBEaGxRUc3BhblFJ0REdEAEiQegAAKMgIiTTDxAREiEU
				XxAbX2lkR2VuT2JqZWN0U3R5bGVPdmVycmlkZS0x0w8Q
				ERYjCllNYWluLUJvZHnRER0ACAAVABsAIQAtADUAPwBJ
				AFgAXQBlAGcAcgB3AHwAgwCLAJUAmwCfAL0AvwDGAMgA
				4wDlAOwA8QDzAPYA+AD9AQEBCAEmAS0BNwAAAAAAAAIB
				AAAAAAAAACUAAAAAAAAAAAAAAAAAAAE6
				</data>
			</dict>
		</array>
		<key>Generation</key>
		<integer>1699730376</integer>
		<key>Wrapper-Revision</key>
		<string>4</string>
	</dict>
</dict>
</plist>
