<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Bookmark-Container-12202011</key>
	<dict>
		<key>Bookmarks</key>
		<array>
			<dict>
				<key>annotationAssetID</key>
				<string>D69EA3A575F69268A5DB9F9A26E8720A</string>
				<key>annotationCreationDate</key>
				<integer>1720482570</integer>
				<key>annotationCreatorIdentifier</key>
				<string>com~apple~iBooks</string>
				<key>annotationDeleted</key>
				<integer>0</integer>
				<key>annotationIsUnderline</key>
				<integer>0</integer>
				<key>annotationLocation</key>
				<string>epubcfi(/6/8[c01]!/4/2[c01]/36/1,:0,:171)</string>
				<key>annotationModificationDate</key>
				<integer>1720482571</integer>
				<key>annotationRepresentativeText</key>
				<string>The analysts at CosaNostra Pizza University concluded that it was just human nature and you couldn't fix it, and so they went for a quick cheap technical fix: smart boxes. </string>
				<key>annotationSelectedText</key>
				<string>The analysts at CosaNostra Pizza University concluded that it was just human nature and you couldn't fix it, and so they went for a quick cheap technical fix: smart boxes.</string>
				<key>annotationStyle</key>
				<integer>3</integer>
				<key>annotationType</key>
				<integer>2</integer>
				<key>annotationUuid</key>
				<string>EB2C8CBA-81B9-40D3-97E6-20A202CAAD40</string>
				<key>futureProofing11</key>
				<string>742175370.886651</string>
				<key>futureProofing6</key>
				<string>742175371.909322</string>
				<key>plAbsolutePhysicalLocation</key>
				<integer>0</integer>
				<key>plLocationRangeEnd</key>
				<integer>0</integer>
				<key>plLocationRangeStart</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>annotationAssetID</key>
				<string>D69EA3A575F69268A5DB9F9A26E8720A</string>
				<key>annotationCreationDate</key>
				<integer>1720482579</integer>
				<key>annotationCreatorIdentifier</key>
				<string>com~apple~iBooks</string>
				<key>annotationDeleted</key>
				<integer>0</integer>
				<key>annotationIsUnderline</key>
				<integer>0</integer>
				<key>annotationLocation</key>
				<string>epubcfi(/6/8[c01]!/4/2[c01]/36/1,:431,:446)</string>
				<key>annotationModificationDate</key>
				<integer>1720482580</integer>
				<key>annotationRepresentativeText</key>
				<string>The pizzas rest, a short stack of them, in slots behind the Deliverator's head. </string>
				<key>annotationSelectedText</key>
				<string>The pizzas rest</string>
				<key>annotationStyle</key>
				<integer>1</integer>
				<key>annotationType</key>
				<integer>2</integer>
				<key>annotationUuid</key>
				<string>C7D2E192-7C8A-4CC0-B7E5-EC75C58431B6</string>
				<key>futureProofing11</key>
				<string>742175379.218891</string>
				<key>futureProofing6</key>
				<string>742175380.066120</string>
				<key>plAbsolutePhysicalLocation</key>
				<integer>0</integer>
				<key>plLocationRangeEnd</key>
				<integer>0</integer>
				<key>plLocationRangeStart</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>annotationAssetID</key>
				<string>D69EA3A575F69268A5DB9F9A26E8720A</string>
				<key>annotationCreationDate</key>
				<integer>1720482588</integer>
				<key>annotationCreatorIdentifier</key>
				<string>com~apple~iBooks</string>
				<key>annotationDeleted</key>
				<integer>0</integer>
				<key>annotationIsUnderline</key>
				<integer>0</integer>
				<key>annotationLocation</key>
				<string>epubcfi(/6/8[c01]!/4/2[c01]/44/1,:80,:121)</string>
				<key>annotationModificationDate</key>
				<integer>1720482588</integer>
				<key>annotationSelectedText</key>
				<string>Competition goes against the Mafia ethic.</string>
				<key>annotationStyle</key>
				<integer>2</integer>
				<key>annotationType</key>
				<integer>2</integer>
				<key>annotationUuid</key>
				<string>CF4DA454-2DD6-4B84-B8CD-042825758094</string>
				<key>futureProofing11</key>
				<string>742175388.059542</string>
				<key>futureProofing6</key>
				<string>742175388.970499</string>
				<key>plAbsolutePhysicalLocation</key>
				<integer>0</integer>
				<key>plLocationRangeEnd</key>
				<integer>0</integer>
				<key>plLocationRangeStart</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>annotationAssetID</key>
				<string>D69EA3A575F69268A5DB9F9A26E8720A</string>
				<key>annotationCreationDate</key>
				<integer>1720482594</integer>
				<key>annotationCreatorIdentifier</key>
				<string>com~apple~iBooks</string>
				<key>annotationDeleted</key>
				<integer>0</integer>
				<key>annotationIsUnderline</key>
				<integer>0</integer>
				<key>annotationLocation</key>
				<string>epubcfi(/6/8[c01]!/4/2[c01]/54/1,:4,:15)</string>
				<key>annotationModificationDate</key>
				<integer>1720482595</integer>
				<key>annotationRepresentativeText</key>
				<string>The Deliverator is a Type A driver with rabies. </string>
				<key>annotationSelectedText</key>
				<string>Deliverator</string>
				<key>annotationStyle</key>
				<integer>4</integer>
				<key>annotationType</key>
				<integer>2</integer>
				<key>annotationUuid</key>
				<string>716ABAC7-BA30-4890-9676-3D94B4863FA3</string>
				<key>futureProofing11</key>
				<string>742175394.398624</string>
				<key>futureProofing6</key>
				<string>742175395.456719</string>
				<key>plAbsolutePhysicalLocation</key>
				<integer>0</integer>
				<key>plLocationRangeEnd</key>
				<integer>0</integer>
				<key>plLocationRangeStart</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>annotationAssetID</key>
				<string>D69EA3A575F69268A5DB9F9A26E8720A</string>
				<key>annotationCreationDate</key>
				<integer>1720482609</integer>
				<key>annotationCreatorIdentifier</key>
				<string>com~apple~iBooks</string>
				<key>annotationDeleted</key>
				<integer>0</integer>
				<key>annotationIsUnderline</key>
				<integer>0</integer>
				<key>annotationLocation</key>
				<string>epubcfi(/6/8[c01]!/4/2[c01]/70/1,:161,:174)</string>
				<key>annotationModificationDate</key>
				<integer>1720482610</integer>
				<key>annotationRepresentativeText</key>
				<string>He knows that when he gets to the place on CSV-5 where the bottom corner of the billboard is obscured by the pseudo-Gothic stained-glass arches of the local Reverend Wayne's Pearly Gates franchise, it's time for him to get over into the right lanes where the retards and the bimbo boxes poke along, random, indecisive, looking at each passing franchise's driveway like they don't know if it's a promise or a threat.</string>
				<key>annotationSelectedText</key>
				<string>pseudo-Gothic</string>
				<key>annotationStyle</key>
				<integer>5</integer>
				<key>annotationType</key>
				<integer>2</integer>
				<key>annotationUuid</key>
				<string>8BDFB488-3150-427D-AC51-B08A73E23B7C</string>
				<key>futureProofing11</key>
				<string>742175409.599164</string>
				<key>futureProofing6</key>
				<string>742175410.458584</string>
				<key>plAbsolutePhysicalLocation</key>
				<integer>0</integer>
				<key>plLocationRangeEnd</key>
				<integer>0</integer>
				<key>plLocationRangeStart</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>annotationAssetID</key>
				<string>D69EA3A575F69268A5DB9F9A26E8720A</string>
				<key>annotationCreationDate</key>
				<integer>1720482618</integer>
				<key>annotationCreatorIdentifier</key>
				<string>com~apple~iBooks</string>
				<key>annotationDeleted</key>
				<integer>0</integer>
				<key>annotationIsUnderline</key>
				<integer>1</integer>
				<key>annotationLocation</key>
				<string>epubcfi(/6/8[c01]!/4/2[c01]/72/1,:289,:336)</string>
				<key>annotationModificationDate</key>
				<integer>1720482618</integer>
				<key>annotationRepresentativeText</key>
				<string>No other Deliverators are waiting in the chute. </string>
				<key>annotationSelectedText</key>
				<string>No other Deliverators are waiting in the chute.</string>
				<key>annotationStyle</key>
				<integer>0</integer>
				<key>annotationType</key>
				<integer>2</integer>
				<key>annotationUuid</key>
				<string>4824FE51-8C2A-4C61-BB9B-D29280502C83</string>
				<key>futureProofing11</key>
				<string>742175418.163448</string>
				<key>futureProofing6</key>
				<string>742175418.904278</string>
				<key>plAbsolutePhysicalLocation</key>
				<integer>0</integer>
				<key>plLocationRangeEnd</key>
				<integer>0</integer>
				<key>plLocationRangeStart</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>annotationAssetID</key>
				<string>D69EA3A575F69268A5DB9F9A26E8720A</string>
				<key>annotationCreationDate</key>
				<integer>1720482622</integer>
				<key>annotationCreatorIdentifier</key>
				<string>com~apple~iBooks</string>
				<key>annotationDeleted</key>
				<integer>0</integer>
				<key>annotationIsUnderline</key>
				<integer>1</integer>
				<key>annotationLocation</key>
				<string>epubcfi(/6/8[c01]!/4/2[c01]/72/1,:345,:349)</string>
				<key>annotationModificationDate</key>
				<integer>1720482622</integer>
				<key>annotationRepresentativeText</key>
				<string>That is good, that means high turnover for him, fast action, keep moving that 'za. </string>
				<key>annotationSelectedText</key>
				<string>good</string>
				<key>annotationStyle</key>
				<integer>0</integer>
				<key>annotationType</key>
				<integer>2</integer>
				<key>annotationUuid</key>
				<string>04E0B289-1F3F-42F8-AFA3-120BF785BA5B</string>
				<key>futureProofing11</key>
				<string>742175422.176244</string>
				<key>futureProofing6</key>
				<string>742175422.984734</string>
				<key>plAbsolutePhysicalLocation</key>
				<integer>0</integer>
				<key>plLocationRangeEnd</key>
				<integer>0</integer>
				<key>plLocationRangeStart</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>annotationAssetID</key>
				<string>D69EA3A575F69268A5DB9F9A26E8720A</string>
				<key>annotationCreationDate</key>
				<integer>1720482628</integer>
				<key>annotationCreatorIdentifier</key>
				<string>com~apple~iBooks</string>
				<key>annotationDeleted</key>
				<integer>0</integer>
				<key>annotationIsUnderline</key>
				<integer>0</integer>
				<key>annotationLocation</key>
				<string>epubcfi(/6/8[c01]!/4/2[c01]/74/1,:29,:34)</string>
				<key>annotationModificationDate</key>
				<integer>1720482639</integer>
				<key>annotationNote</key>
				<string>Like a duck</string>
				<key>annotationRepresentativeText</key>
				<string>The Deliverator honks his horn. </string>
				<key>annotationSelectedText</key>
				<string>honks</string>
				<key>annotationStyle</key>
				<integer>1</integer>
				<key>annotationType</key>
				<integer>2</integer>
				<key>annotationUuid</key>
				<string>F49D0E95-C03E-4D50-BB2E-831E7E3DFD56</string>
				<key>futureProofing11</key>
				<string>742175428.816393</string>
				<key>futureProofing6</key>
				<string>742175439.526529</string>
				<key>plAbsolutePhysicalLocation</key>
				<integer>0</integer>
				<key>plLocationRangeEnd</key>
				<integer>0</integer>
				<key>plLocationRangeStart</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>annotationAssetID</key>
				<string>D69EA3A575F69268A5DB9F9A26E8720A</string>
				<key>annotationCreationDate</key>
				<integer>1720482652</integer>
				<key>annotationCreatorIdentifier</key>
				<string>com~apple~iBooks</string>
				<key>annotationDeleted</key>
				<integer>0</integer>
				<key>annotationIsUnderline</key>
				<integer>1</integer>
				<key>annotationLocation</key>
				<string>epubcfi(/6/10[c02]!/4/2[c02]/6/1,:376,:385)</string>
				<key>annotationModificationDate</key>
				<integer>1720482669</integer>
				<key>annotationNote</key>
				<string>Lingua</string>
				<key>annotationRepresentativeText</key>
				<string>You could buy tapes, learn-while-you-drive, and learn to speak Taxilinga. </string>
				<key>annotationSelectedText</key>
				<string>Taxilinga</string>
				<key>annotationStyle</key>
				<integer>0</integer>
				<key>annotationType</key>
				<integer>2</integer>
				<key>annotationUuid</key>
				<string>C0E6826B-DDE9-4898-B9A3-6E141CD633F5</string>
				<key>futureProofing11</key>
				<string>742175452.713540</string>
				<key>futureProofing6</key>
				<string>742175469.894835</string>
				<key>plAbsolutePhysicalLocation</key>
				<integer>0</integer>
				<key>plLocationRangeEnd</key>
				<integer>0</integer>
				<key>plLocationRangeStart</key>
				<integer>4</integer>
			</dict>
		</array>
		<key>Generation</key>
		<integer>1720482669</integer>
	</dict>
</dict>
</plist>
